<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 민감한 정보는 따로 빼둠 -->
    <properties resource="config/connection-info.properties" />
    <typeAliases>
        <typeAlias type="com.ohgiraffers.common.MenuDTO" alias="DTO" />
        <typeAlias type="com.ohgiraffers.common.SearchCriteria" alias="Search" />
    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 한번에 다 불러올 수 있음. 하위 파일들은 알아서 가져옴. -->
        <package name="com/ohgiraffers/section01/dynamic" />
    </mappers>
</configuration>